@import "/src/styles.module.css";

body {
  background-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.light {
  background-color: white;
  color: black;
}

.light p {
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.dark p {
  color: white;
}

.dark .optionTag:hover {
  background-color: yellowgreen;
  color: gray;
}
