.containerPaginate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 42.1px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.containerPaginateDark {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 42.1px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.previousPaginate {
  padding: 7px 12px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}
.previousPaginate:hover {
  color: whitesmoke;
}

.previousPaginateDisabled {
  padding: 7px 12px;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

.previousPaginateDark {
  padding: 7px 12px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
.previousPaginateDark:hover {
  color: rgba(255, 255, 255, 0.3);
}

.previousPaginateDarkDisabled {
  padding: 7px 12px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  color: gray;
}

.nextPaginate {
  padding: 7px 12px;
  border: 1px solid gray;
}
.nextPaginate:hover {
  color: whitesmoke;
}

.nextPaginateDisabled {
  padding: 7px 12px;
  border: 1px solid whitesmoke;
}

.nextPaginateDark {
  padding: 7px 12px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
.nextPaginateDark:hover {
  color: rgba(255, 255, 255, 0.3);
}

.nextPaginateDarkDisabled {
  padding: 7px 12px;
  color: gray;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

.activePaginate {
  padding: 7px 0;
  background-color: black;
  color: white;
}
.activePaginate:hover {
  padding: 7px 0;
  background-color: black;
  color: white;
}

.activePaginateDark {
  padding: 7px 0;
  background-color: white;
  color: black;
}
.activePaginateDark:hover {
  padding: 7px 0;
  background-color: white;
  color: black;
}

.allPagesPaginate {
  padding: 7px 12px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

.allPagesPaginate:hover:not(.activePaginate) {
  background-color: whitesmoke;
  color: black;
}

.allPagesPaginateDark {
  padding: 7px 12px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.allPagesPaginateDark:hover:not(.activePaginateDark) {
  background-color: rgba(255, 255, 255, 0.3);
  color: lightgray;
}

.activePaginate:hover {
  background-color: black;
}

.activePaginateDark:hover {
  background-color: white;
  color: blueviolet;
}

.disabledPaginate {
  color: whitesmoke !important;
  border: none !important;
}

.disabledPaginateDark {
  color: whitesmoke;
}

.lessThan {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0;
  padding: 7px 7.2px;
  color: black;
}

.lessThan:hover {
  color: whitesmoke !important;
}

.lessThanDisabled {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0;
  padding: 7px 7.2px;
  color: whitesmoke;
}

.lessThanDark {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0;
  padding: 7px 7.2px;
  color: white;
}

.lessThanDark:hover {
  color: rgba(255, 255, 255, 0.3) !important;
}

.lessThanDarkDisabled {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0;
  padding: 7px 7.2px;
  color: gray;
}

.lessThan,
.lessThanDisabled,
.lessThanDark,
.lessThanDarkDisabled {
  cursor: pointer;
  border-right: none;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.moreThan {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  padding: 7px 7.2px;
  cursor: pointer;
  color: black;
  border-left: none;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.moreThan:hover {
  color: whitesmoke !important;
}

.moreThanDisabled {
  border-top: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  padding: 7px 7.2px;
  cursor: pointer;
  color: whitesmoke;
  border-left: none;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.moreThanDark {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  padding: 7px 7.2px;
  cursor: pointer;
  color: white;
  border-left: none;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.moreThanDark:hover {
  color: rgba(255, 255, 255, 0.3) !important;
}

.moreThanDarkDisabled {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  padding: 7px 7.2px;
  cursor: pointer;
  color: gray;
  border-left: none;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
