* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  margin: 0 5%;
  padding-bottom: 5%;
}

.PaintsWrapper {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.Paints {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 100%;
}

.header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  padding: 20px 0;
  z-index: 9;
  font-size: xx-large;
  justify-content: center;
}

.avatar {
  padding-right: 996px;
}

.header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 7%;
  padding: 20px 0;
  z-index: 9;
}

.flexContainerForInput {
  width: 255px;
  max-width: 255px;
  min-width: 40px;
  min-height: 48px;
  margin: 0 10px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

.flexContainerForInput input {
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.flexContainer {
  width: 255px;
  max-width: 255px;
  min-width: 40px;
  max-height: 400px;
  min-height: 48px;
  margin: 0 10px;
  border: 1px solid gray;
  border-radius: 10px;
  overflow-y: scroll;
  cursor: pointer;
}

.flexContainer span {
  margin: 0;
  font-size: smaller;
}

.middleFlexElement {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 50px;
  border-radius: 10px;
}

.elInFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  max-height: 50px;
}

.elInFlexContainer p {
  white-space: nowrap;
  width: 93%;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.specialRangeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

.inputRange {
  background-color: whitesmoke;
  color: gray;
  width: 70px;
  height: 42.1px;
  max-height: 42.1px;
  font-size: smaller;
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 0 11px;
  cursor: pointer;
  outline: none;
}

.inputRange:focus {
  color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.faDivs {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 10px;
}

.mainDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  height: 42.1px;
  padding-top: 2%;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 855px;
  padding-left: 0px;
}

.card {
  height: 280px;
  overflow: hidden;
}

.cardImg {
  float: left;
  width: 350px;
  max-width: 350px;
  height: 280px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}

.intro {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 30px;
  margin-top: 250px;
  padding: 6px;
  font-size: x-small;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card:hover .intro {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 145px;
  max-width: 350px;
  margin-top: 135px;
  padding: 6px;
  font-size: x-small;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card:hover .intro p {
  color: black;
}

.intro h2 {
  position: absolute;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  margin: 0;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.intro p {
  position: absolute;
  margin: 20px 10px;
  padding: 5px;
}

@media (max-width: 1365px) {
  .header1 {
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
  }
  .avatar {
    padding-right: 0;
  }
  .header2 {
    width: 100%;
    max-width: 100%;
  }
  .flexContainerForInput {
    width: 25%;
    max-width: 25%;
  }
  .flexContainer {
    width: 25%;
    max-width: 25%;
  }
  .specialRangeContainer {
    display: -ms-grid;
    display: grid;
  }
  .specialRangeContainer span {
    margin-left: 45%;
  }
  .Paints {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .card {
    width: 100%;
    max-width: 100%;
    height: 230px;
    max-height: 230px;
  }
  .cardImg {
    width: 100%;
    max-width: 100%;
    height: 230px;
    max-height: 230px;
  }
  .intro {
    width: 100%;
    max-width: 100%;
    margin-top: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .card:hover .intro {
    height: 115px;
    margin-top: 115px;
    width: 100%;
    max-width: 100%;
  }
  .mainDiv {
    justify-content: flex-start;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 1023px) {
  .header1 {
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
  }
  .avatar {
    padding-right: 0;
  }
  .header2 {
    width: 100%;
    max-width: 100%;
  }
  .flexContainerForInput {
    width: 25%;
    max-width: 25%;
  }
  .flexContainer {
    width: 25%;
    max-width: 25%;
  }
  .specialRangeContainer {
    display: -ms-grid;
    display: grid;
  }
  .specialRangeContainer span {
    margin-left: 45%;
  }
  .cardImg {
    width: 100%;
  }
  .Paints {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .card {
    width: 100%;
    max-width: 100%;
    height: 260px;
    max-height: 260px;
  }
  .cardImg {
    width: 100%;
    max-width: 100%;
    height: 260px;
    max-height: 260px;
  }
  .intro {
    width: 100%;
    max-width: 100%;
    margin-top: 230px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .card:hover .intro {
    height: 130px;
    margin-top: 130px;
    width: 100%;
    max-width: 100%;
  }
  .mainDiv {
    justify-content: flex-start;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 767px) {
  .header1 {
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }
  .avatar {
    padding-right: 0;
  }
  .header2 {
    display: -ms-grid;
    display: grid;
    gap: 1vh;
  }
  .flexContainerForInput {
    width: 89vw;
    max-width: 89vw;
  }
  .flexContainer {
    width: 89vw;
    max-width: 89vw;
  }
  .Paints {
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .containerPaginate {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
  }
  .mainDiv {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
  .specialRangeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .specialRangeContainer span {
    margin-left: 0;
  }
  .card {
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    height: 210px;
    max-height: 210px;
  }
  .cardImg {
    width: 100%;
    height: 210px;
    max-height: 210px;
  }
  .intro {
    margin-top: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .card:hover .intro {
    font-size: xx-small;
    height: 105px;
    margin-top: 105px;
  }
}
